:root {
  --main-bg-color: #F0E6EF;
  --color-1: #9C89B8;
  --color-2: #F0A6CA;
  --color-3: #EFC3E6;
  --color-4: #B8BEDD;
}

h1, h2, h3 {
  font-family: 'Architects Daughter', cursive;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  align-items: center;
}

.App > main {
  /* background-color: var(--main-bg-color); */
  margin: 1em;
  margin-top: 1em;
  height: 100vh;
}

.App-header {
  margin: 1em;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: 1em;
  color: var(--color-1);
  max-width: 18em;
  min-width: 20em;
  border-radius: 15px;
  
}

.App-header > div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  -webkit-box-shadow: 0px 0px 57px 1px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 57px 1px rgba(255,255,255,1);
box-shadow: 0px 0px 57px 1px rgba(255,255,255,1);
}

.App-header > div > h1 {
  margin: 0;
  padding: 0;
}

.App-header > div > img {
  width: 2em;
  object-fit: scale-down;
}

.App-header > nav {
  height: 3em;
}

.App-header > nav > a {
  margin: 0.9em;
  padding: 0.3em;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 1000;
  border: 1px solid transparent;
}
.App-header > nav > a:hover {
  border: 1px solid var(--main-bg-color);
  background-color: var(--color-4);
  border-bottom: none;
}

.App-header > nav > a.active {
  background-color: var(--main-bg-color);
}

.hamster-pic {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 2px dotted white;
}

.stats-component > h2 {
  text-align: center;
  margin: 0;
}

.top-list {
  list-style: none;
  counter-reset: item;
  padding: 0 1em;
  margin:0;
}

.top-list > li {
  counter-increment: item;
  background-color: var(--color-3);
  border: 1px solid var(--color-4);
  border-radius: 0.3em;
  margin: 0.5em;
  padding: 0.4em;
  width: 15em;
}

.hamster-stat-header > div > h3:before {
  content: "#" counter(item) " - ";
  font-weight: bolder;
  font-size: 1.2em;
}

.hamster-stat-header {
  display: flex;
  justify-content: left;
  align-items: center;
}

.hamster-stat-header > div {
  margin: 0 0 0 1em;
}

.hamster-stat-header > div > h3 {
  margin: 0;
  font-size: 0.8em;
}

.hamster-stat-body > p {
  font-size: 0.8em;
  margin: 0;
}

.battle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.battle-pics {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: column;
}

.battle-pics > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.battle-pics > div > img {
  width: 10em;
  height: 10em;
  border: 5px solid var(--color-4);
  border-radius: 3%;
  cursor: pointer;
  object-fit: cover;
}

.form-group {
  display: block;
  margin-bottom: 2em;
}
.form-group label{
  display: block;
}
.form-group input {
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.form-group > input.valid {
  border: 1px solid #5bbE36;
}

.form-group > input.invalid {

}

.form-error {
  position: absolute;
  color: #DD2626;
}